<%@ page pageEncoding="UTF-8"%><!doctype html>

<html>

<head>
	
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<%@ include file="inc/locale.jsp" %>
	
	<title>jenesis</title>
	
	<script src="home/home.nocache.js"></script>
	
</head>

<body>
	
	<div id="mainMenu"></div>
	
	<div id="container" class="container">
	
		<div><h1>Jenesis Framework Example Application</h1></div>
		
		<div id="userData" class="padded"></div>
		
	</div><!-- container -->
	
	<iframe src="javascript:''" id="__gwt_historyFrame" tabIndex='-1' style="position:absolute;width:0;height:0;border:0"></iframe>
	
	<noscript>
		<div style="width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif">
			Your web browser must have JavaScript enabled
			in order for this application to display correctly.
		</div>
	</noscript>
	
</body>

</html>
