<%@ page pageEncoding="UTF-8"%><!doctype html>

<html>

<head>
	
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<%@ include file="inc/locale.jsp" %>
	
	<title>jenesis</title>
	
	<script src="main/main.nocache.js"></script>
	
	<style type="text/css">html, body {height:100%;}</style>
	
</head>

<body>
	
	<div id="container" class="tableStyle full"><!-- container -->
		
		<div  class="cellStyle centered" style="position:relative; top:-100px;">
			<h3>Jenesis Demo</h3>
			<div id="signIn"></div>
		</div>
		
	</div><!-- container -->
	
	<div id="appInfo"></div>

	<iframe src="javascript:''" id="__gwt_historyFrame" tabIndex='-1' style="position:absolute;width:0;height:0;border:0"></iframe>
	
	<noscript>
		<div style="width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif">
			Your web browser must have JavaScript enabled
			in order for this application to display correctly.
		</div>
	</noscript>
	
</body>

</html>
