@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Roboto);

.full{width:100%;height:100%;}
.sizeAuto{width:auto;height:auto;}
.tableStyle{display:table;}
.cellStyle{display:table-cell;vertical-align:top;}
.centered{text-align:center;vertical-align:middle;}
.padded{padding:5px;}
.notPadded{padding:0px;}
.margin{margin:10px;}
.noMargin{margin:0px;}
.noOverflowHide{overflow:hidden;}
.noOverflowScroll{overflow:scroll;}
.noOverflowAuto{overflow:auto;}
.rounded{-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;}
.border{border:solid 1px;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;}
.handCursor{cursor:pointer;cursor:hand;}
.busyCursor{cursor:progress;}
.translucent{opacity:0.9;filter:alpha(opacity=90);}
.transparent{opacity:0;filter:alpha(opacity=0);}

/*
.fa {width: 1em;}
.navbar {font: inherit;}
.navbar-right {margin-right: inherit;}
.navbar-default {background-image: inherit;}
table {font: inherit;}
.table {font-size: 90%}
html, body {font: inherit;}
.form-control {font: inherit; font-size: 90%;}
.datepicker .datepicker-switch:hover, .datepicker .next:hover, .datepicker .prev:hover, .datepicker tfoot tr th:hover, .datepicker table tr td.day:hover, .datepicker table tr td.focused, .datepicker table tr td span:hover {background: inherit; background-image: url(img/translucent_black.png);}
.datepicker-dropdown {padding: 5px;}
label, .radio label, .checkbox label, .help-block {font: inherit; font-size: 90%;}
.modal-content {background-image: url(img/translucent_black.png);}
input.form-control, textarea.form-control {padding-left: 20px;}
textarea.form-control {min-height: 100px;}
*/

.suggestPopupContent {padding: 5px;}
.suggestPopupContent table, .suggestPopupContent tbody, .suggestPopupContent tr, .suggestPopupContent td {display: block;}
.suggestPopupContent .item {padding: 5px; cursor: pointer; cursor: hand;}
.suggestPopupContent .item-selected {background-image: url(img/translucent_black.png);}

.navbar {border-radius: inherit;}

html, body {
	/*width: 100%;
	height: 100%;*/
}
body {
	/*font-family: "Roboto", sans-serif;
	font-size: 15px;
	color: #333;
	background-color: #eee;*/
}

.container{
 	margin-top: 5em;
}

.table {
	
}
.thead {
	font-weight: bolder;
}
.tbody {
	
}
.inline {
	display: inline;
}
.flex {
	display: inline-flex;
}

#mainMenu {
	position: fixed;
	top: 0;
	width: 100%;
}

#title, .module-MainMenu {
	/*display: flex;*/
}

#appInfo {
	position: fixed;
	bottom: 1em;
	right: 1em;
}

.ui-module {
	/*display: inline-block;*/
}

.module-SignUpPanel .form-group {
	margin-right: 10px;
}
.module-SignUpPanel .gwt-Label {
	display: inline-block;
	margin-right: 5px;
}
.module-SignUpPanel .gwt-Hyperlink {
	display: inline-block;
}
.module-SignUpPanel table {
	background-color: inherit;
}

.module-SignInPanel {
	display: inline-block;
}
.module-SignInPanel .input-group {
	margin-bottom: 10px;
}
.module-SignInPanel table {
	background-color: inherit;
}

.module-PasswordManager table {
	background-color: inherit;
}

.gwt-Anchor {
	cursor: pointer;
}

.gwt-Label pre {
	font: inherit;
	padding: 5px;
	margin: 0;
}
